
*{margin: 0; padding: 0;}

h1{
    margin-bottom: 2%;
}

.loading-picture
{
    position: relative;
    animation-name: charging-computer;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.loading-picture img{
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }


.content{
    opacity: 0;
    animation-name: contents;
    animation-duration: 2s ;
    animation-delay: 4s;
    animation-fill-mode:forwards;
}



/*MENU*/

.menu{

    text-align: center;
    color: black;
    opacity: 0;
    animation-name: contents;
    animation-duration: 1s ;
    animation-delay: 4s;
    animation-fill-mode:forwards;
}

.menu h1{
    margin-bottom: 2%;
    font-family: 'AlexBrush-Regular', Arial, Helvetica, sans-serif;
    font-size: 5em;
    color: white;
}

.menu a {
    margin: 2%;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}


/*SECTIONS*/



.section1{
    background: linear-gradient(rgb(158, 113, 170), rgb(136, 120, 141)) ;
    padding-top: 1%;
}

.section2{
    background: linear-gradient(rgb(136, 120, 141), rgb(162, 221, 182)) ;
}

.section3{
    background: linear-gradient(rgb(162, 221, 182), rgb(110, 96, 161)) ;
}

.section4{
    background: linear-gradient(rgb(110, 96, 161), rgb(11, 85, 138) ) ;
}

.section5{
    background: linear-gradient(rgb(11, 85, 138), rgb(2, 117, 199) ) ;
}

.section6{
    background: linear-gradient( rgb(2, 117, 199), rgb(255, 255, 255)) ;
}

.section2, .section3, .section4, .section5, .section6 {
    padding-top: 3%;
}




/*PARCOURS*/



.parcours{
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1.5em;
    color:white;

}

.parcours1 ,.parcours2 ,.parcours3{
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.parcours1 p,.parcours2 p,.parcours3 p{
    max-width: 50%; 
}



.parcours h1 {

    text-decoration: underline;
    font-family: 'AlexBrush-Regular', Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: white;
}

.commercial-dev{
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/malette.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.commercial-dev img{
    max-width: 100%;
    animation-name: fondu-in-out;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-duration: 8s;
	animation-direction: alternate;
}




.parcours2 img{
    max-width: 25%;
}

.parcours3{
    margin-top: 3%;
}



.parcours3-img{
    display: flex;
    text-align: center;
    max-width: 40%; 
}

.parcours3-img img{

    max-width: 80%;
}






/*SPECIFICATIONS*/

.specifications{
    font-family: "Asap", sans-serif;
    text-align: center;
    color: black;
    padding: 1%;
    margin: auto;
    width: 80%;
    border: 3px solid black;
    border-radius: 30px;
}

.specifications h1{
    font-size: 2.5em;
    text-decoration: underline;
}

.spe-titre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spe-titre img{
    margin-left: 1%;
    max-width: 4%;
    animation-name: rotateZ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.spe-parties{

    margin-top: 2%;
    display: flex;
    width: 100%;
}


.spe-parties h2{
    text-decoration: underline;
    font-size: 2em;
}


.back{
    border-right: 2px solid black;
    width: 50%;
}

.backend{

    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    height: 1%;
}

.backend h3{
    margin-bottom: 5%;
}

.backend img{
    max-width: 50%;
}

.backend-block1{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.front{
    width: 50%;
    border-left: 2px solid black;

}


.frontend{
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    height: 1%;
}

.frontend h3{
    margin-bottom: 5%;
}


.frontend-block1 img{
    max-width: 15%;
    left: 5%;
    margin-right: 5%;
}

.frontend-block2 img{
    max-width: 50%;

}


/* P1 */


.projets {
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color:white;
}


.projets h1 {

    text-decoration: underline;
    font-family: 'AlexBrush-Regular', Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: white;
}

.projets h2{
    font-family: "Asap", sans-serif;
    text-align: center;
    margin-bottom: 2%;
    color: rgb(169, 200, 80);
}

.projets p {
    text-align: center;
}

.projets img {
    object-fit: contain;
}

.projet-presentation{
    display: flex;
    justify-content: space-between; 
    align-items: center;

}


.projet-presentation img{
    object-fit: contain;
    max-width: 20%;
}




/* P2 */

.perf{
    text-align: center;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-bottom: 2%;
}

.perf p {
    max-width: 50%;
}

.compteur{
    max-width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/compteur.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   }

.aiguille{
    animation-name: speed;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}



.projets2 {
    width: 50%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color:white;
}



.projets2 h2{
    font-family: "Asap", sans-serif;
    text-align: center;
    margin-bottom: 2%;
    color: rgb(179, 0, 0);
}

.projets2 p {
    text-align: center;
}

/* P3 */

.projets3 {
    width: 50%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color:white;
}


.projets3 h2{
    font-family: "Asap", sans-serif;
    text-align: center;
    margin-bottom: 2%;
    color: rgb(18, 159, 219);
}

.projets3 p {
    text-align: center;
}


/*TECHNOS*/



.technos{
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    color:white;
}

.technos h1 {

    text-decoration: underline;
    font-family: 'AlexBrush-Regular', Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: white;
}

.techno-table{
    border: 3px solid black;
    border-radius: 30px;
    padding: 0.5%;
    background-color: whitesmoke;
    font-family: "Asap", sans-serif;
    color: black;
}

.techno-back img{
    margin-top: 5%;
}
.techno-table h2, h4{
    color: white;
    margin-bottom: 5%;
    text-decoration: underline;
}

.techno-back{
    margin-bottom: 0.5%;
    background-color: rgb(88, 188, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.techno-front{
    background-color: rgb(111, 211, 166);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.techno-back, .techno-front{
    display: flex;
    justify-content: space-between;
    padding: 3% 3% 3% 0%;
}

.techno-backend ,.techno-frontend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 30%;
}

.techno-backend img ,.techno-frontend img{
    width: 50%;
}

.techno-block{
    width:33%;
}

.techno-block img{
    max-width:30%;
}

.techno-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.techno-block-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.techno-block-div img{
    max-width: 80%;
}



/*REVEAL*/

.reveal{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;

  }

  .reveal img{
    max-width: 90%;
  }


  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }









/******FONT FAMILY *******/

@font-face {
    font-family: 'AlexBrush-Regular';
    src: url('font/AlexBrush-Regular.ttf') format('truetype');
}



/******* KEYFRAMES ******/





@keyframes charging-tel{
    0% { transform: translateY(50vh)}
    50% { transform: translateY(50vh)}
    100% {transform: translateY(30vh);}
}

@keyframes charging-computer{
    0% { transform: translateY(50vh)}
    50% { transform: translateY(50vh)}
    100% {transform: translateY(20vh);}
}

@keyframes contents{
    0%{opacity: 0 ;}
    100%{opacity: 1;}
}

@keyframes fondu-in-out {
	0%    { opacity:1; }
	25%   { opacity:1; }
    50%   { opacity:1; }
	75%   { opacity:0; }
	100%  { opacity:0; }
}


@keyframes rotateZ {
    100% { transform: rotateZ(360deg);}
}

@keyframes speed {

    5% {transform: rotateZ(15deg);}
    7% {transform: rotateZ(10deg);}
    10% {transform: rotateZ(25deg);}
    15% {transform: rotateZ(15deg);}
    40% {transform: rotateZ(280deg);}
    100%{transform: rotateZ(280deg);}
  }




/******* RESPONSIVE *******/


@media screen and (max-width: 480px) {


    .loading-picture{
    position: relative;
    animation-name: charging-tel;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }   

    .loading-picture img{
        max-width: 40%;
    }

    header img{
        max-width: 40%;
    }

    .parcours{
        width: 90%;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        font-size: 1.5em;
        color:white;
    }



    .parcours1 p,.parcours2 p,.parcours3 p{
        max-width: 90%; 
    }
    
}

@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}
 
@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}
 
@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}
 
@media (min-width: 624px) {
    html {
        font-size: 9px;
    }
}
 
@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
}
