
*{margin: 0; padding: 0;}

body{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

body h1{
    font-size: 5em;
    font-family:'Courier New', Courier, monospace ;
    margin-bottom: 5%;
}

body h2{
    font-size: 2.5em;
}


body p, body input, body textarea, button{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.8em;
}

body a{
    color: white;
}


.loading-picture{
    position: relative;
    animation-name: charging-computer;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.loading-picture img{
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.content{
    opacity: 0;
    animation-name: contents;
    animation-duration: 2s ;
    animation-delay: 4s;
    animation-fill-mode:forwards;
}

.parcours h1, .projets h1, .technos h1, .contact h1 {
    margin-top: 10%;
    text-decoration: underline;
}


.projets, .projets2, .projets3 {
    width: 50%;
    margin: auto;
}



/*MENU*/

header{
    margin-bottom: 2%;
}



header h2{
    text-decoration: underline;
}

.menu {
    margin: auto;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.menu-block{
    border: 4px white solid;
    border-radius: 10px;
    padding: 1%;
    max-width: 20%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;

}

.menu-block img{
    max-width: 80%;
}

.menu-block:hover{
    transform: scale(1.15);
}


/*SECTIONS*/



.section1{
    background: linear-gradient(rgb(158, 113, 170), rgb(136, 120, 141)) ;
    padding-top: 1%;
}

.section2{
    background: linear-gradient(rgb(136, 120, 141), rgb(162, 221, 182)) ;
}

.section3{
    background: linear-gradient(rgb(162, 221, 182), rgb(110, 96, 161)) ;
}

.section4{
    background: linear-gradient(rgb(110, 96, 161), rgb(11, 85, 138) ) ;
}

.section5{
    background: linear-gradient(rgb(11, 85, 138), rgb(2, 117, 199) ) ;
}

.section6{
    background: linear-gradient( rgb(2, 117, 199), rgb(76, 107, 163)) ;
}

.section2, .section3, .section4, .section5, .section6 {
    padding-top: 3%;
}




/*PARCOURS*/


.parcours{
    width: 50%;
    margin: auto;
    text-align: justify;
}


.etape1 ,.etape2 ,.etape3{
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.etape1 p,.etape2 p,.etape3 p{
    max-width: 50%; 
}

.commercial-dev{
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/malette.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.commercial-dev img{
    max-width: 100%;
    animation-name: fondu-in-out;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-duration: 6s;
	animation-direction: alternate;
}


.etape2-img, .etape3-img{
    text-align: center;
}

.etape2-img img, .etape3-img img{
    max-width: 80%;
}

.etape3-img{
    display: flex;
    max-width: 40%; 
}



/*SPECIFICATIONS*/

.specifications{
    text-align: center;
    color: black;
    padding: 1%;
    margin: auto;
    width: 80%;
    border: 3px solid black;
    border-radius: 30px;
}

.specifications h2{
    text-decoration: underline;
}

.specifications p{
    margin-bottom: 10%;
}

.spe-titre, .back h2, .front h2{
    margin-bottom: 5%;
}

.spe-titre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spe-titre img{
    margin-left: 1%;
    max-width: 4%;
    animation-name: rotateZ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.spe-parties{
    display: flex;
    width: 100%;
}

.spe-parties h2{
    font-size: 2em;
}


.back{
    max-width: 50%;
    border-right: 2px solid black;
}

.backend{
    display: flex;
    justify-content: space-around;
}

.backend img{
    max-width: 50%;
}

.backend-p2{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.backend-p2, .backend-p2 img{
    max-width: 50%;
}

.backend-block1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.front{
    width: 50%;
    border-left: 2px solid black;
}


.frontend{
    display: flex;
    justify-content: space-around;
}


.frontend-block1{
    display: flex;
    justify-content: space-around;
}

.frontend-block1 img{
    max-width: 80%;
}

.frontend-block2 img{
    max-width: 50%;
}


/* P1 */
.projets h1{
    text-align: right;
}

.projets h2{
    color: rgb(169, 200, 80);
}

.projets p {
    text-align: justify;
}


.projet-presentation{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.projet-presentation img{
    max-width: 20%;
}



/* P2 */


.compteur{
    max-width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/compteur.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   }

.aiguille{
    animation-name: speed;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}


.projets2 h2{
    color: rgb(179, 0, 0);
}



/* P3 */


.projets3 h2{
    color: rgb(18, 159, 219);
}

.projets3 p {
    text-align: center;
}


/*TECHNOS*/



.technos{
    width: 80%;
    margin: auto;
}


.techno-table{
    border: 3px solid black;
    border-radius: 30px;
    padding: 0.5%;
    background-color: whitesmoke;
}


.techno-table h2, .techno-table p{
    margin-bottom: 5%;
    text-decoration: underline;
}

.techno-back{
    margin-bottom: 0.5%;
    background-color: rgb(88, 188, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.techno-front{
    background-color: rgb(111, 211, 166);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.techno-back, .techno-front{
    display: flex;
    justify-content: space-between;
    padding: 3% 3% 3% 0%;
}

.techno-backend ,.techno-frontend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 30%;
}

.techno-backend img ,.techno-frontend img{
    width: 50%;
    margin-bottom: 10%;
}



.techno-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.techno-block{
    width:33%;
}

.techno-block img{
    max-width:30%;
}

.techno-block-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.techno-block-div img{
    max-width: 80%;
}

/**CONTACT**/

.contact{
    width: 50%;
    margin: auto;
}


.contact-email{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}

.contact-email-img{
    max-width: 30%;
}

.contact-email img{
    max-width: 80%;
}

.contact-email-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-email-email a{
    font-size: 1.8em;
}

.contact-email-email img {
    margin-right: 1%;
    max-width: 10%;
}


.contact-email-form input, .contact-email-form textarea{
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
    outline: none;
    padding: .5rem 1.5rem;
    width: 80%;
    transition: background-color 500ms;
}

.contact-email-form input:focus, .contact-email-form textarea:focus{
    border: 2px solid blueviolet;
}

.contact-email-form input:not(:focus):invalid {
    background-color: red;
    color: white;
}

.contact-email-form p{
    font-weight: bold;
    color: rgb(121, 223, 121);
}


.contact-email-form textarea{
    height: 150px;
    resize: none;
}

.contact-email-form button{
    width: 50%;
    border-radius: 20px;
    background-color: rgb(70, 70, 70);
    color: white;
}

.contact-email-form input, .contact-email-form textarea, .contact-email-form button, .contact-email-form p{
    margin-top: 5%;
}


.contact-phone-networks{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}

.contact-phone{
    background-image: url(images/logos/smartphone.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
}

.contact-phone-bg{
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 100%;
  }
   



.contact-picture{
    align-self: flex-end;
    display: flex;
    flex-direction: column;

}

.contact-phone h2, .contact-networks h2 {
    margin-bottom: 10%;
}

.reseaux {
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

.reseaux-block{
    margin-top: 5%;
    max-height: 100%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}

.reseaux-block img{
    max-width: 80%;
    border: 2px solid white;
    border-radius: 20px;
}

.reseaux-block:hover{
    transform: scale(1.15);
}

.contact-picture{
    width: 40%;
    text-align: center;
}

.contact-picture img{
    max-width: 100%;
}




/*REVEAL*/

.reveal{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;

  }

  .reveal h2{
    margin-bottom: 3%;
  }

  .reveal img{
    max-width: 90%;
  }


  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }









/******FONT FAMILY *******/

@font-face {
    font-family: 'AlexBrush-Regular';
    src: url('font/AlexBrush-Regular.ttf') format('truetype');
}



/******* KEYFRAMES ******/





@keyframes charging-tel{
    0% { transform: translateY(50vh)}
    50% { transform: translateY(50vh)}
    100% {transform: translateY(12vh);}
}

@keyframes charging-computer{
    0% { transform: translateY(50vh)}
    50% { transform: translateY(50vh)}
    100% {transform: translateY(16vh);}
}

@keyframes contents{
    0%{opacity: 0 ;}
    100%{opacity: 1;}
}

@keyframes fondu-in-out {
	0%    { opacity:1; }
	25%   { opacity:1; }
    50%   { opacity:1; }
	75%   { opacity:0; }
	100%  { opacity:0; }
}


@keyframes rotateZ {
    100% { transform: rotateZ(360deg);}
}

@keyframes speed {

    5% {transform: rotateZ(15deg);}
    7% {transform: rotateZ(10deg);}
    10% {transform: rotateZ(25deg);}
    15% {transform: rotateZ(15deg);}
    40% {transform: rotateZ(280deg);}
    100%{transform: rotateZ(280deg);}
  }




/******* RESPONSIVE *******/


/**SMARTPHONE**/

@media (max-width: 1000px) {
    html {
        font-size: 15px;
    }

    body h1{
        font-size: 4em;
        margin-bottom: 5%;
    }
    
    body h2{
        font-size: 2em;
    }
    
    
    body p{
        font-size: 1.6em;
    }

    
    .loading-picture{
        position: relative;
        animation-name: charging-tel;
        animation-duration: 3.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    .loading-picture img{
        max-width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .projets, .projets2, .projets3 {
        width: 90%;
        margin: auto;
    }

    .parcours h1, .projets h1{
        text-align: center;
    }

    /*MENU*/

    header img{
        max-width: 40%;
    }

    .menu {
        margin: auto;
        max-width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center; 
    }

    .menu-block{
        border: 1px white solid;
        border-radius: 10px;
        padding: 1%;
        margin: 1%;
        max-width: 45%;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 400ms;
    }

    .menu-block:hover{
        transform: scale(1);
    }

    /*PARCOURS*/


    .parcours{
        width: 90%;
        margin: auto;
        text-align: justify;
        color:white;
    }

    .etape1 ,.etape2 ,.etape3{
        display: flex;  
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .etape1, .etape3  {
        flex-direction: column-reverse;
    }

    .etape1 p,.etape2 p,.etape3 p{
        max-width: 95%; 
        margin-bottom: 5%;
        margin-top: 3%;
    }

    .etape2-img img{
        max-width: 40%;
    }

    .etape3-img{
        max-width: 100%; 
    }

    .etape3-img img{
        max-width: 50%;
    }

    /*SPECIFICATIONS*/

    .specifications{
        width: 92%;
        border: 2px solid black;
    }

    .spe-titre img{
        max-width: 6%;
    }

    .spe-parties h2{
        font-size: 1.8em;
    }

    .specifications p{
        margin-bottom: 5%;
        margin-top: 10%;
        text-decoration: underline;
    }

    .backend, .frontend{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .backend img{
        max-width: 30%;
    }

    

    /*PROJETS*/

    /* P1 */

    .projets p{
        text-align: center;
    }

    /*TECHNOS*/

    .technos{
        width: 95%;
        margin: auto;
    }

    .techno-table{
        border: 2px solid black;
    }

    .techno-back, .techno-front{
        flex-direction: column;
        justify-content: space-between;
        padding: 3% 3% 3% 0%;
    }

    .techno-back{
        margin-bottom: 0.5%;
        background-color: rgb(88, 188, 255);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .techno-front{
        background-color: rgb(111, 211, 166);
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .techno-backend img ,.techno-frontend img{
        width: 30%;
    }

    .techno-div{
        align-items:flex-start;
        justify-content: space-around; 
    }

    .techno-block{
        margin-bottom: 5%;
        width:50%;
    }
    
    .techno-block img{
        max-width:40%;
    }

    .techno-block-div{
        flex-direction: column;
        justify-content: space-between;
    }

    .techno-block-div img{
        max-width: 50%;
    }

    /*CONTACT*/

    .contact{
        width: 95%;
        margin: auto;
    }

    .contact-email{
        flex-direction: column;
    }

    .contact-email-img{
        margin-bottom: 5%;
    }

    .contact-phone-networks{
        justify-content: space-between;
    }

    .contact-phone{
        width: 100%;
    }

    .reseaux-block{
        margin-top: 10%;
    }

    .reseaux-block img{
        max-width: 50%;
    }

    .contact-picture{
        display: none;
    }

    /*REVEAL*/

    .reveal{
    margin-top: 10%;
    }



}

/**TABLETS**/

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }
}
 
@media (max-width: 1024px) {
    html {
        font-size: 11px;
    }
}
 /**DESKTOPS**/


@media (min-width: 1280px) {
    html {
        font-size: 16px;
   
    }
}
 

